<style>
label {
    float: left;
    text-align: right;
    margin-right: 0.2em;
    width: 15em;
}
</style>

<h1 align="center">Website Payments Standard - Cancel</h1>

<div style="margin: 0 auto; width: 600px; ">

<%= link_to "Home", {:controller =>"home", :action => "index"} %> 
<br /><br />

<h2>Request Parameters</h2>
<% for k, v in params.sort -%>
  <label><%= "#{k} : " -%></label><%= "#{v}" -%><br />
<% end -%>
<br />


</div>
